ACME_AGREE=true
TZ='Etc/UTC'

ASPNETCORE_ENVIRONMENT=Release
ASPNETCORE_URLS='http://+:5108/'
DatabaseType=pgsql
ConnectionStrings__pgsql='Server=fetamilter_db;Port=5432;Database=fetamilter;User ID=fetamilter;Password=secret_crouton;'