@model App.Models.HeaderModel;

<header>
    <nav>
        <div class="site-title">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Model.SubSite</a>
        </div>
        <div class="user-details">
            @if (Model.IsLoggedIn)
            {
                @Html.DisplayFor(m => m.Username)
            }
            else
            {
                <a href="/login">Login</a>
            }
        </div>
    </nav>
</header>