@model App.Models.LoginModel;
@{
    ViewData["Title"] = $"Login";
}

<div class="content">
    <h1>Log In</h1>
    <form method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" asp-for="Username"/>
        </div>
        <div>
            <label for="passowrd">Password</label>
            <input type="password" name="password" asp-for="Password"/>
        </div>
        <div>
            <label for="rememberMe">
                <input type="checkbox" name="rememberMe" asp-for="RememberMe" />
                Remember Me
            </label>
        </div>
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <button type="submit">Login</button>
    </form>
</div>