html {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 0 3rem;
    margin-bottom: 40px;
}

form .form-input {
    display: flex;
    margin-bottom: 1rem;
}

form .form-input label {
    margin-right: 1rem;
    font-size: 0.8rem;
    width: 6rem;
}

form .form-input textarea {
    resize: vertical;
}

form button[type="submit"] {
    margin-left: 7rem;
}
